@mixin btn-mx($n,$spacing ,$a) {
	padding: 1.25rem 2.5rem;
	border-radius: $n+$a;
	letter-spacing: $spacing;
	font-weight: 700;
	background: $btn;
	color: $textColor;  
}
// @mixin breakpoint($point) {
// 	if $point==lg{
// 		@media (max-width:992px) {@content;}
// 	}
// }	
   
	
