@import './normalize/normalize.scss';
@import './button.css';
.bg {
	background: $mainBg;
}
.header {
	padding-top: 1.25rem;
	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__left {
			display: flex;
			align-items: center;
			.header-link {
				margin-right: 3.75rem;
				img {
				}
			}
			.header-list {
				display: flex;
				align-items: center;
				gap: 2.5rem;
				&__item {
					.nav__link {
						font-weight: 700;
						color: $mainColor;
					}
				}
			}
		}
		&__right {
			display: flex;
			align-items: center;
		}
	}
}
